@model IList<Demo.WebSite.Mvc.Routing.Models.CertifiedItem>

@{
	ViewBag.Title = "Detail";
}

@section bottomScript {
	<script src="~/Scripts/Home/Detail.js"></script>
}

<h2>Detail</h2>

<div>
	@Html.ActionLink("Return to Batch Screen", "Index")
</div>

@using (Html.BeginForm("VoidSubmit", "Home", FormMethod.Post))
{

	<input id="voidSubmit" type="submit" class="btn btn-success" value="Void" />

	<table>
		<thead>
			<tr>
				<th>CertifiedItemID</th>
				<th>CertifiedBatchID</th>
				<th>Address</th>
				<th>State</th>
				<th>Zip</th>
				<th>ImagePath</th>
				<th>DateCreated</th>
				<th>Is Voided</th>
			</tr>
		</thead>
		<tbody id="itemList">
			@for (int i = 0; i < Model.Count; i++) 
			{
				<tr>
					<td>
						@Html.DisplayFor(_ => Model[i].CertifiedItemID)
						@Html.HiddenFor(_ => Model[i].CertifiedItemID)
					</td>
					<td>
						@Html.DisplayFor(_ => Model[i].CertifiedBatchID)
						@Html.HiddenFor(_ => Model[i].CertifiedBatchID)
					</td>
					<td>
						@Html.DisplayFor(_ => Model[i].Address)
						@Html.HiddenFor(_ => Model[i].Address)
					</td>
					<td>
						@Html.DisplayFor(_ => Model[i].State)
						@Html.HiddenFor(_ => Model[i].State)
					</td>
					<td>
						@Html.DisplayFor(_ => Model[i].Zip)
						@Html.HiddenFor(_ => Model[i].Zip)
					</td>
					<td>
						@Html.DisplayFor(_ => Model[i].ImagePath)
						@Html.HiddenFor(_ => Model[i].ImagePath)
					</td>
					<td>
						@Html.DisplayFor(_ => Model[i].DateCreated)
						@Html.HiddenFor(_ => Model[i].DateCreated)
					</td>
					<td>@Html.CheckBoxFor(_ => Model[i].IsVoided, new { id = "checkbox_" + Model[i].CertifiedItemID })</td>
				</tr>
				}
		</tbody>
	</table>
}


