@model IEnumerable<Demo.WebSite.Mvc.Routing.Models.CertifiedItem>

@{
	ViewBag.Title = "Detail";
}

@section bottomScript {
	<script src="~/Scripts/Home/Detail.js"></script>
}

<h2>Detail</h2>

<div>
	@Html.ActionLink("Return to Batch Screen", "Index")
</div>

<table>
	<thead>
		<tr>
			<th>CertifiedItemID</th>
			<th>CertifiedBatchID</th>
			<th>Address</th>
			<th>State</th>
			<th>Zip</th>
			<th>ImagePath</th>
			<th>DateCreated</th>
			<th>Is Voided</th>
		</tr>
	</thead>
	<tbody id="itemList">
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.CertifiedItemID</td>
				<td>@item.CertifiedBatchID</td>
				<td>@item.Address</td>
				<td>@item.State</td>
				<td>@item.Zip</td>
				<td>@item.ImagePath</td>
				<td>@item.DateCreated</td>
				<td>@Html.CheckBoxFor(_ => item.IsVoided, new {id = "checkbox_" + item.CertifiedItemID})</td>
			</tr>
		}
	</tbody>
</table>

